<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit Item</title>
	</head>
	<body>
		<style>
			body {
				background-image: url("https://rare-gallery.com/uploads/posts/120919-neon-synthwave-retrowave-grid-mountains-purple-hd.jpg");
                background-size: cover;
			}
			form {
                color: white;
            }
            input {
                display: block;
                font-size: 20px;
            }
			a {
                color: rgb(211, 145, 220);
            }
			h1 {
				color: white;
			}
		</style>
		<h1>Edit Item</h1>
		<form action="/retro/<%=retro._id%>?_method=PUT" method="POST">
			Name: <input type="text" name="name" value=<%=retro.name%> placeholder="Name" required /><br />
			Description: <input type="text" name="description" value=<%=retro.description%> placeholder="Description" required /><br />
			Image URL: <input type="text" name="img" value=<%=retro.img%> placeholder="Image URL" required /><br />
            Price: $ <input type="number" name="price" value=<%=retro.price%> placeholder="Price" required /><br />
            Quantity: <input type="number" name="qty" value=<%=retro.qty%> placeholder="Quantity" required /><br />
			<input type="submit" name="" value="Edit Item" />
		</form>
        <a href="/retro">back</a>
	</body>
</html>