<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Retro Shop</title>
	</head>
	<body>
        <style>
            img {
                width: 300px;
                height: 300px;
            }
        </style>
		<h1>Retro Shop</h1>
		<nav>
            <a href="/retro/new">Add an Item</a>
        </nav>
            <% retros.forEach(retro => { %>
                <h2><a href="/retro/<%=retro._id%>"><%=retro.name; %></a></h2>
                <h2><%=retro.description%></h2>
                <a href="/retro/<%=retro._id%>"><img src=<%=retro.img%>></a>
                <h5>$<%=retro.price%></h5>
                <h5><%=retro.qty%></h5>
                <a href="/retro/<%=retro._id%>/edit">Edit</a>
                <form action="/retro/<%= retro.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                  </form>

            <% }) %>
	</body>
</html>

