<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Retro Shop</title>
	</head>
	<body>
        <style>
            img {
                width: 250px;
                height: 250px;
                border-radius: 5%;
            }
            body {
                background-image: url("https://rare-gallery.com/uploads/posts/120919-neon-synthwave-retrowave-grid-mountains-purple-hd.jpg");
                background-size: cover;
            }
            h1 {
                color: white;
                text-align: center;
                font-size: 4em;
            }
            #container {
                display: inline-block;
                width: 21%;
                padding: 5%;
            }
            #indvItem {
                color: white;
            }
            a {
                color: rgb(211, 145, 220);
            }
            nav {
                align-items: center;
                text-align: center;
            }
        </style>
        <h1>Retro Shop</h1>
		<nav>
            <a href="/retro/new">Add an Item</a>
        </nav>
            <% retros.forEach(retro => { %>
            <div id="container">
                <div id="indvItem">
                    <h2><a href="/retro/<%=retro._id%>"><%=retro.name; %></a></h2>
                    <h2><%=retro.description%></h2>
                    <a href="/retro/<%=retro._id%>"><img src=<%=retro.img%>></a>
                    <h5>$<%=retro.price%></h5>
                    <h5><%=retro.qty%></h5>
                </div>
            </div>
            <% }) %>
	</body>
</html>

