<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Retro Shop</title>
	</head>
	<body>
        <style>
            img {
                width: 300px;
                height: 300px;
                border-radius: 5%;
            }
            body {
                background-image: url("https://rare-gallery.com/uploads/posts/120919-neon-synthwave-retrowave-grid-mountains-purple-hd.jpg");
                background-size: cover;
                display: flex;
                justify-content: center;
                text-align: center;
                color: white;
            }
            div {
                margin-top: 10%;
                padding: 10px;
            }
            a {
                color: rgb(211, 145, 220);
            }
        </style>
		    <div>
                <h1><%=retro.name%></h1>
                <h2><%=retro.description%></h2>
                <img src=<%=retro.img%>> 
                <h5>$<%=retro.price%></h5>
                <h5><%=retro.qty%></h5>
                <% if (retro.qty <= 0) { %>
                    <p>Out of Stock</p>
                <% } %>
                <% if (retro.qty > 0) { %>		
                    <form action="/retro/<%=retro._id%>/buy?_method=PUT" method="POST">
                    <input class="delete" type="submit" value="Buy">
                </form>
                <form action="/retro/<%= retro.id %>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />
                </form>
                <% } %>
                <a href="/retro/<%=retro._id%>/edit">Edit</a>
                <a href="/retro">back</a>
            </div>
	</body>
</html>